*{
	margin:0;
	padding:0;
	font-family: "Lucida Console", Monaco, monospace;
	box-sizing: border-box;
	overflow:hidden;
}

a{
	cursor: pointer;
	margin: 10px;
	font-size: 20px;
}

.flip{
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.selected{
	background-color: gray;
}

input[type=text]{
	width: 100px;
}

input[type=text].number{
	width: 40px;
}

input[type=radio]{
	height: 40px;
	width: 40px;
}

#time{
	height: 100%;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;

}

#time.hide{
	color: transparent;
}

#sidebar{
	position: fixed;
	top: 0;
	left: 0;
	background-color: lightgray;
}

#toggle{
	font-size: 60px;
	font-weight:700;
	display: inline-block;
}

/*#sidebar.show #summary{
	display: none;
}*/

#sidebar.show{
	height: 100%;
	overflow-y: scroll;
}

#sidebar:not(.show) *:not(.always):not(br){
	display: none;
}

.spin{
	-webkit-animation-name: spin;
	-webkit-animation-duration: 4000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 4000ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 4000ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;

	animation-name: spin;
	animation-duration: 4000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@-ms-keyframes spin {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}
